.game-background{
    width: 100vw;
    height: 100vh;
    background-color: rgb(56, 90, 33);
}

.game-container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(87, 138, 52);
    padding: 3rem 5rem;
}

.game-score{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-bottom: 1rem;
}

.game-score__caption{
    font-size: 2.5rem;
    color: white;
}

.game-board{
    display: flex;
    flex-wrap: nowrap;
}

.game-board__column{
    width: 3.2rem;
    height: 3.2rem;
}

.game-buttons{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 2rem 0 0 0;
}

.game-button{
    font-size: 2rem;
    background-color: orange;
    width: 15rem;
    color: white;
    height: 5rem;
}


